.formacao {
  background: #141414;
  color: #ffffff;
  margin-top: 80px;
  border-bottom: solid 2px #ffc60d;
}

.formacao-container {
  max-width: 1200px;
  padding: 2.5rem 1.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.formacao-subtitulo {
  font-size: 8rem;
  line-height: 1.1;
  max-width: 4ch;
  word-break: break-all;
  color: #000000;
}

.formacao-habilidades {
  display: grid;
}
.formacao-habilidades h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-habilidades h3::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -35px;
  top: -5px;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.formacao-habilidades li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-habilidades span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .formacao-container {
    gap: 60px;
  }
}

@media (max-width: 800px) {
  .formacao-subtitulo {
    font-size: 6rem;
  }
}

@media (max-width: 600px) {
  .formacao-subtitulo {
    font-size: 4rem;
  }
}
